* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
}

.btn-primary {
  border-color: #47acf0;

  background-color: #47acf0;
  color: white
}

.btn-secondary {
  background-color: #fefefe;

  color: lightgray;
  border-color: lightgray;
}



/* header */
#header {
  /* padding-left: 20px; */
  padding: 12px 20px;
}

#header #logo {
  display: inline-block;
  vertical-align: middle;
}

#header h1 {
  display: inline-block;
  vertical-align: middle;

  font-size: 2.4em;
}


/* main  */
main.container {
  background-color: #f5f7f8;

  padding: 40px 20px 100px 20px;
}

main #todo-ui {
  max-width: 1000px;

  margin: 0 auto;
  padding: 20px 0;

  background-color: white;
}

main #todo-buttons, main #todo-list {
  padding: 0 40px;
}

main #todo-buttons {
  margin-bottom: 12px;
}

main .separator {
  border: 2px solid #f4f6f7;
}

/* todo-list */
main #todo-list {
  padding-top: 40px;
}

main #todo-list details, main #todo-list section {
  margin-bottom: 1em;
}

main #todo-list .list-title {
  font-size: 1.4em;
}

main #todo-list ul {
  list-style-type: none;
}

main #todo-list li {
  margin: 0.5em 0;
} 

main #todo-list .todo-icon {
  display: inline-block;

  width: 21px;
  height: 21px;

  text-align: center;

  border: 1px solid black;
  border-radius: 50%;

  margin-right: 8px;

  font-size: 0.8em;
}

main #todo-list .todo-icon.check {
  border-color: green;
  color: green;
}

main #todo-list .todo-icon.cross {
  border-color: red;
  color: red;
}

main #todo-list .badge {
  display: inline-block;
  
  padding: 8px 12px;

  border-radius: 18px;

  color: white;
  
  margin: 0 .7em
}

main #todo-list .badge.badge-blue {
  background-color: #45aae9;

}

main #todo-list .badge.badge-orange {
  background-color: #f19d33;

}